{{ partial "header.html" }}

    <div class="wrap">
        {{ partial "banner.html" }}
        {{ partial "navigation.html" . }}

        <div class="content">
            <div class="content__copy">
                {{ .Content }}
            </div>

            {{if .Params.img }}
                <div class="content__fmImg">
                    <img src="/images/{{ .Params.img }}" />
                </div>
            {{ end }}

            <div class="clear">&nbsp;</div>
        </div>
    </div>

{{ partial "footer.html" }}
