html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #333;
    color: #ccc;
    font-family: verdana,helvetica,Kalimati,sans-serif;
    font-size: 1.2em;
    padding: 0;
    line-height:25px;
	letter-spacing: .1em;
}
a, a:visited {
    color: #fff;
}
.wrap {
    margin: 0;
    padding: 0;
    position: relative;
}
.banner {
    background-image: url('../images/string-wobble.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: 100% 250px; 
    background-color: #333;
    height: 250px;
    padding: 12px 12px 0;
}
.banner__title {
    float: left;
    width: 40%;
    font-size: 25px;
    margin: 20px;
}
.banner__contactDetails {
    float: right;
    width: 30%;
    text-align: right;
    margin-right: 20px;
}    
.content {
    border: 1px solid #555;
    width: 80%; 
    min-height: 300px;
    margin: 20px auto;
    padding: 15px
}
.content__copy, 
.content__fmImg {
    float: left;
    width: 49%;
}
.content__fmImg {
    text-align: center;
    margin-top: 20px;
}
.content__fmImg img {
    width: 100%;
}
.clear {
    clear: both;
}
.footer {
    width: 80%; 
    margin: 20px auto;
    text-align: center;
}
