        <div class="banner">
            <div class="banner__title">
                guitar lessons with Hughie
            </div>
            <div class="banner__contactDetails">
                07949 605519
                hughie(at)hugle.co.uk
            </div>
        </div>
