                <nav role="navigation">
                  <div id="menuToggle">
                    <input type="checkbox" />
                    
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    <ul id="menu">
                        {{ range .Site.Menus.main }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                  </div>
                </nav>
